<div class="simulator">
    <!-- Simulator Content -->
    <form #placement="ngForm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label for="xCoordinate"> X Coordinate </label>
                    <input type="number" min="0" name="x" class="form-control" [(ngModel)]="x">
                </div>
                <div class="col-md-3">
                    <label for="yCoordinate"> Y Coordinate</label>
                    <input type="number" min="0" name="y" class="form-control" [(ngModel)]="y">
                </div>
                <div class="col-md-3">
                    <label for="direction"> Direction </label>
                    <select name="direction" class="form-control" [(ngModel)]="direction">
                            <option value=""></option>
                            <option *ngFor="let val of directions" [value]="val">{{val}}</option>
                        </select>
                </div>
                <div class="col-md-3 btn-placement">
                    <button type="submit" class="btn btn-warning" Value="Place" (click)="onPlacement()">Place</button>
                    <button type="submit" class="btn btn-warning" Value="Place" (click)="avoid()">Avoid</button>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button aria-label="Left" type="button" class="btn btn-primary" (click)="leftRotation()">Left</button>
            </div>
            <div class="col-md-3">
                <button aria-label="Right" type="button" class="btn btn-primary" (click)="rightRotation()">Right</button>
            </div>
            <div class="col-md-3">
                <button aria-label="Move" type="button" class="btn btn-success" (click)="movePosition()">Move</button>
            </div>
            <div class="col-md-3">
                <button aria-label="Report" type="button" class="btn btn-info" (click)="report()">Report</button>
            </div>
        </div>
    </div>
</div>